.filterContainer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.button {
  padding: 0.6rem 1.2rem;
  border: 1px solid transparent;
  background-color: #ffffff; 
  color: #1a1a1a;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.4rem; 
  transition: all 0.2s;
  font-size: 0.9rem;
}

.activeBtn {
  background-color: #1a1a1a; 
  color: #ffffff;
}
.button:hover:not(.activeBtn) {
  background-color: #f3f4f6;
  color: #111827;
}

